In [5]:
# Introduction to the data

import pandas as pd

# Read file
all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv("recent-grads.csv")

all_ages.head(5)
recent_grads.head(5)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [22]:
# Summarizing Major Categories

def calculate_major_cat_total(df):
    # Unique values in Major_category column
    cats = df["Major_category"].unique()
    # Dictionnaire à remplir
    counts_dict = dict()
    
    for current_major in cats:
        # Tous les rows avec le major courant
        is_current_major = df["Major_category"] == current_major
        major_df = df[is_current_major]
        # Calculer le total d'étudiants pour le major courant (sur toutes les rows)
        total = major_df["Total"].sum()
        # Ajouter au dico {major, total}
        counts_dict[current_major] = total
    return counts_dict
        
        
aa_cat_counts = calculate_major_cat_total(all_ages)
rg_cat_counts = calculate_major_cat_total(recent_grads)

print(aa_cat_counts)
print("\n")
print(rg_cat_counts)

{'Computers & Mathematics': 1781378, 'Agriculture & Natural Resources': 632437, 'Industrial Arts & Consumer Services': 1033798, 'Humanities & Liberal Arts': 3738335, 'Law & Public Policy': 902926, 'Education': 4700118, 'Psychology & Social Work': 1987278, 'Business': 9858741, 'Biology & Life Science': 1338186, 'Interdisciplinary': 45199, 'Physical Sciences': 1025318, 'Communications & Journalism': 1803822, 'Health': 2950859, 'Social Science': 2654125, 'Engineering': 3576013, 'Arts': 1805865}


{'Computers & Mathematics': 299008, 'Industrial Arts & Consumer Services': 229792, 'Education': 559129, 'Psychology & Social Work': 481007, 'Law & Public Policy': 179107, 'Agriculture & Natural Resources': 79981, 'Physical Sciences': 185479, 'Biology & Life Science': 453862, 'Social Science': 529966, 'Business': 1302376, 'Communications & Journalism': 392601, 'Health': 463230, 'Interdisciplinary': 12296, 'Engineering': 537583, 'Humanities & Liberal Arts': 713468, 'Arts': 357130}

In [30]:
# Low-Wage Job Rates

# Récupération des 2 colonnes
low_wage_col = recent_grads["Low_wage_jobs"]
total_student_col = recent_grads["Total"]

sum_low_wage = low_wage_col.sum()
total_student = total_student_col.sum()

low_wage_percent = float(sum_low_wage) / float(total_student)
print(low_wage_percent)

0.09852546076122913

In [37]:
# Comparing Data Sets

# All majors, common to both DataFrames
majors = recent_grads['Major'].unique()
rg_lower_count = 0

for current_major in majors:
    # All rows with the current major
    major_aa = all_ages[all_ages["Major"] == current_major]
    major_rg = recent_grads[recent_grads["Major"] == current_major]
    
    # Unemployment_rate
    enemployment_rate_aa = major_aa["Unemployment_rate"]
    enemployment_rate_rg = major_rg["Unemployment_rate"]
    
    enemployment_rate_aa_min = enemployment_rate_aa.min()
    enemployment_rate_rg_min = enemployment_rate_rg.min()
    
    if enemployment_rate_rg_min < enemployment_rate_aa_min:
        rg_lower_count += 1

print("Il y a " + str(rg_lower_count) + " majeures où le taux de chômage est + faible dans les résultats récents que sur les résultats globaux")

Il y a 43 majeures où le taux de chômage est + faible dans les résultats récents que sur la globalité